<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
			<!--<section name="topaths" type="System.Configuration.DictionarySectionHandler"/>-->
 	</configSections>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="UnitHtmlPath" value="\\192.10.110.206\e\测试文档\HTML\" />
		<add key="UnitDocPath" value="\\192.10.110.206\e\测试文档\DOC\" />
 	</appSettings>
	<!--<topaths>
		<add key="path1" value="D:\1\\" />
		<add key="path2" value="D:\2\3\\\4\" />
		<add key="path3" value="D:\3\$datetime$\" />
		<add key="path4" value="D:\4\" />
	</topaths>-->
</configuration>
