<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
			<section name="WimsProInfos" type="WatchCilent.WimsProInfoSectionSettings,WatchCilent"/> 
 	</configSections>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<!-- 测试单元存放地址 -->
		
		<add key="UnitHtmlPath" value="\\192.10.110.206\e\测试文档\HTML\" />
		<add key="UnitDocPath" value="\\192.10.110.206\e\测试文档\DOC\" />
		
		<add key="SqlDB" value="Initial Catalog=WisoftTestSv;Data Source=192.10.110.206,1433;User ID=sa; Password=Wisoft2008."/>
			
		<!--测试单元HTML访问地址-->
		<add key="HtmlUrl" value="http://192.10.110.206:9001/TestUnit/" />
		<!--WIMS WEBSERVICE访问地址-->
		<add key="WimsUrl" value="http://58.214.246.37:8120/wisoftintegrateframe/services/WimsToTest" />
		
		<!--WIMS 登录用户ID -->
		<add key="WimsLoginID" value="5d86e98b2b4b7668012b4d04417e001b" />
		<!--用户登录-->
		<!--更新包监控系统访问地址 -->
		<add key="WisofServiceHost" value="192.10.110.206" />
		<add key="FTPHOST" value="ftp://58.214.246.41:9021/" />
		<add key="FTPID" value="wisoft" />
		<add key="FTPPWD" value="wisoft2005" />
		<add key="UserId" value="14" />
	 	<add key="Username" value="朱新培" />
 		<add key="Password" value="42177812215a92ea1ad9b7d61a1787e8" />
 	</appSettings>
	<WimsProInfos>
		<WimsProInfo name="aaaa1" id="1fadsfasdfjaskldfajlsdfas"/>
		<WimsProInfo name="aaaa2" id="2fadsfasdfjaskldfajlsdfas"/>
		<WimsProInfo name="aaaa3" id="3fadsfasdfjaskldfajlsdfas"/>
		<WimsProInfo name="aaaa4" id="4fadsfasdfjaskldfajlsdfas"/>
	</WimsProInfos>

</configuration>
